<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Something We Ate - {{ block "title" . }}
{{ .Site.Title }}
{{ end }}</title>

		<meta name="description" content="a simple collection of thoughts on food and anything else ...">
		<link href='https://fonts.googleapis.com/css?family=Source+Serif+Pro|Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<!-- Mobile-friendly viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Style sheet link -->

		<style>
			body {
				font-size: 14px;
				font-family: 'Source Serif Pro', serif, 'Source Sans Pro', sans-serif;
			}

			h1 {
				font-size: 1.5em;
			}

			main {
				text-align: left;
				display: flex;
				flex-direction: row;
				justify-content: left
			}
			section {
				width: 850px;
				padding: 20px;
			}
		</style>
	</head>
	<body>
		<main>
			<section>

				<!-- Code that all your templates share, like a header -->
				{{ block "main" . }}
				<!-- The part of the page that begins to differ between templates -->
				{{ end }}
				{{ block "footer" . }}
				<!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
				{{ end }}

				<p>somethingweate.com</p>
				<ul>
					<li>2017-05-13 | <a href="notes/books.md">books I'd recommend</a></li>
					<li>2017-05-02 | <a href="recipes/mascarpone.txt">make your own mascarpone cheese</a></li>
					<li>2016-10-30 | <a href="recipes/cranberry-jalape-o-salsa.txt">cranberry jalapeno salsa</a> is going to be a holiday favorite</li>
					<li>2016-10-25 | <a href="recipes/red-cabbage.txt">red cabbage</a></li>
					<li>2016-10-25 | <a href="recipes/jons-slow-cooker-egg-bake.txt">slowcooker egg bake</a></li>
					<li>2016-10-25 | <a href="recipes/chocolate-chili-well-fed.txt">chocolate chili</a></li>
					<li>2016-10-25 | The most underrated tool in modern computing is AWK.</li>
					<li>2016-10-25 | <a href="recipes/diy-pace-picante-sauce.txt">DIY pace picante sauce</a></li>
				</ul>
			</section>
		</main>
		<!--
			Is 8
			[12]Do not call conspiracy all that this people calls conspiracy, and do not fear what they fear, nor be in dread.
			[13]But the LORD of hosts, him you shall honor as holy. Let him be your fear, and let him be your dread.
			[14]And he will become a sanctuary and a stone of offense and a rock of stumbling to both houses of Israel, a trap and a snare to the inhabitants of Jerusalem.
			[15]And many shall stumble on it. They shall fall and be broken; they shall be snared and taken.
		-->
	</body>
</html>
